<%-include("header")-%>

    <div class="box" id="heading">

        <h1>
            <%=Title%>
        </h1>
        <div class="box">

            <% newListItem.forEach(function(element){ %>
                <form action="/delete" method="post">

                    <div class="item">

                        <input type="checkbox" name="checkboxName" value="<%=element._id%>"
                            onchange="this.form.submit()">
                        <p>
                            <%=element.name%>
                        </p>
                    </div>
                    <input type="hidden" name="hiddenList" value="<%=Title%>">
                </form>
                </form>

                <%})%>


                    <form class="item" action="/" method="post">
                        <input type="text" name="newList" placeholder="Add new List" autocomplete="off">
                        <button type="submit" name="submitList" value=<%=Title%>>+</button>
                    </form>
        </div>
        <%-include("footer")-%>